
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: sans-serif;
}

.header {
  height: 100px;
  background-color: blueviolet;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.container{
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}

.todo {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}